.person {
    display: block;
}

.person__avatar {
    width: 3.5em;
    border-radius: 999em;
    box-shadow: 0 0 0 0.25em lightgrey;
    margin: 0.25em;
    transition: transform 0.25s;

    .calendar & {
        width: 2.5em;
    }

    a.person:hover &,
    a.person:focus &,
    a.person:active & {
        position: relative;
        z-index: 5;
        outline: none;
    }

    a.person:hover &,
    a.person:focus & {
        box-shadow: 0 0 0 0.25em #074e68;
        transform: scale(1.2);
    }

    a.person:active & {
        transform: scale(1.4);
    }

    a.day:hover &,
    a.day:focus &,
    a.day:active & {
        box-shadow: 0 0 0 0.25em #074E68;
    }
}

.person--status {
    background: darken(white, 5%);
    color: darken(white, 20%);

    &:hover,
    &:focus,
    &:active {
        background: darken(white, 15%);
        color: darken(white, 40%);
        box-shadow: none;

        &.person--status--in {
            background: darken(green, 7%);
            color: white;
        }
    }
}

.person--status__label {
    display: block;
    line-height: 2;
    font-weight: bold;
}

.person--status--in {
    background: green;
    color: white;
}
