.person_chooser__instruction {
    padding: 0.25em;
    font-weight: bold;
    color: grey;
    margin-bottom: 0.5em;
}



// People group
.person_chooser__people .person {
    margin: 0.25em;
    float: left;
}
